.cardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--bgColorSecondary);
    border-radius: 1em;
    max-width: 20em;
    transition: box-shadow 150ms linear, 
                transform 150ms linear;
}

.cardContainer:hover {
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}




